.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  padding:20px;
}

.App-header {
  text-align: center;
  background: url(../src/img/header-bg.png) no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 3.5rem;
  padding-bottom: 5.9rem;
}

.App-intro {
  font-size: large;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
nav ul {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}
nav ul li a {
  color:#fff;
}